# Rust / Cargo
target/
**/target/
**/target/**

# Cargo incremental compilation artifacts
**/target/debug/incremental/
**/target/release/incremental/

# MacOS 系一時ファイル
.DS_Store

# SQLite DB
*.db
*.db-shm
*.db-wal

# Node.js / frontend
node_modules/
dist/